.centered {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
div.logo {
	background-image: url(images/motif.png);
	background-color: #89a;
	background-repeat: repeat;
	background-size: auto 50%;
	background-position: left center;
	color: #006;
	font-weight: bold;
	padding: .5rem;
	font-size: 3em;
	display: flex;
	align-items: center;
	display: flex;
	align-items: center;
	& > span {
		flex: 1 0 0px;
	}

	img {
		width: 1.25em;
		margin-right: .25em;
	}
}
div.interface {
	section.body {
		display:flex;
		flex-direction: column;
		background-color: #320;
		background-image: url(../images/liege_texture.png);
	}
}

#menuprincipal {
	font-size: 1rem;
	& > div.menu {
		& > span {
			padding: 0;
			&:before {
				.centered;
				font-size: 1rem;
				width: 2em;
				height: 2em;
				line-height: 1em;
				border-radius: 100%;
//				background-color: rgba(100%,100%,100%,.2);
//				color: rgba(0%,0%,0%,.2);
				margin: 0;
			}
		}
	}
}
article.list {
	zzzborder: 1px solid black;
	display: flex;
	flex-direction: column;
	background-color: #FFC;
	margin:.5em;
	border-radius: .5em;
	box-shadow: 1px 1px 5px rgba(0%,0%,0%,.5);
	& + article {
		margin-top: 0;
	}
	& > * {
		padding: 0.25em;
	}

	& > header {
//		display: flex;
		background-color: rgba(128,128,128,.05);
		flex-direction: row;
		justify-content: space-between;
		& > div {
			font-weight: bold;
		}
	}
	& > footer {
		font-size: .7em;
		background-color: rgba(50%,50%,50%,.1);
		text-align: right;
	}
	& > div.body {
		margin: .5em;
	}
}
header > *.contextual-menu {
	float: right;
}
ul.menu {
	margin: 0;
	padding: 0;
}
